@use '../../Scss/breakPoint.scss' as *;
@use '../../Scss/variable.scss' as *;
.chat {
  margin-left: 65px;
  display: flex;
  @include mobile {
    margin-left: 0;
  }
  &__users {
    width: 350px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    border-right: 2px solid #ddd;
    @include mobile {
      width: 90px;
      &__title {
        display: none;
      }
    }
    &__title {
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      @include mobile {
        font-size: 30px;
        justify-content: center;
        p {
          display: none;
        }
      }
    }
    &__status {
      font-weight: 600;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      @include mobile {
        font-size: 13px;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
      }
      &__private {
        border-bottom: 2px solid black;
      }
      &__group {
        border-bottom: 2px solid black;
      }
    }

    &__detail {
      cursor: pointer;
      display: flex;
      gap: 20px;
      align-items: center;
      &__avatar {
        min-width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
      }
      @include mobile {
        &__name {
          display: none !important;
        }
      }
    }
    &__group {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      @include mobile {
        &__name {
          display: none !important;
        }
      }
    }
  }

  &__detail {
    flex: 1;
    &__header {
      position: fixed;
      border-bottom: 2px solid #ddd;
      top: 0;
      padding: 10px;
      width: calc(100% - 415px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 85px;
      &__user {
        cursor: pointer;
        display: flex;
        gap: 20px;
        align-items: center;
        &__avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
        }
      }
      &__call {
        display: flex;
        gap: 15px;
        cursor: pointer;
        font-size: 30px;
      }
      @include mobile {
        width: calc(100% - 90px);
        z-index: 9999 !important;
        background-color: white;
        &__call {
          font-size: 20px;
        }
      }
      &__group {
        display: flex;
        gap: 30px;
        align-items: center;
        font-weight: 600;
        &__avatar {
          display: flex;
          &__item {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: -10px;
          }
        }
      }
    }

    &__content {
      position: fixed;
      top: 95px;
      height: calc(100vh - 190px);
      padding: 0 25px;
      width: calc(100% - 415px);
      overflow-y: auto;
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
      @include mobile {
        width: calc(100vw - 90px);
        height: calc(100vh - 220px);
      }
      &__message {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        align-items: center;
        &__date {
          order: 2;
        }
        &__react {
          order: 4;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 10px;
          display: none;
        }
        &__avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
        }
        &__text {
          background-color: $color-message-receiver;
          padding: 5px 20px;
          border-radius: 20px;
          display: flex;
          justify-content: flex-end;
          max-width: 400px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-all;
        }

        &__image {
          width: 100%;
          height: 50px;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &:hover {
          .chat__detail__content__message__react {
            display: flex;
          }
        }
        &__images {
          gap: 10px;
          &__item {
            max-height: 800px;
            max-width: 400px;
            height: auto;
            width: auto;
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 20px;
            img {
              object-fit: contain;
            }
          }
        }
        &__sender {
          display: flex;
          flex-direction: column;
          align-items: end;
          gap: 10px;
          .chat__detail__content__message__documents__item {
            background-color: $color-message-sender;
            padding: 5px 20px;
            border-radius: 20px;
            color: white;
            max-width: 400px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-all;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        &__receiver {
          display: flex;
          flex-direction: column;
          width: fit-content;
          align-items: start;
          gap: 10px;
          .chat__detail__content__message__documents__item__receiver {
            background-color: $color-message-receiver;
            padding: 5px 20px;
            border-radius: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            max-width: 400px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-all;
          }
        }
        &__documents {
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: start;
        }
      }

      &__message-sender {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        justify-content: flex-end;
        .chat__detail__content__message__avatar {
          display: none;
        }
        .chat__detail__content__message__text {
          width: fit-content;
        }
        &__react-sender {
          order: -5;
          cursor: pointer;
          display: flex;
          flex-direction: row-reverse;
          gap: 10px;
          display: none;
        }
        &__avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
        }
        &__text {
          background-color: $color-message-receiver;
          padding: 5px 20px;
          border-radius: 20px;
          max-width: 400px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-all;
        }
        .sender {
          @include mobile {
            margin-left: 20px;
          }
          background-color: $color-message-sender;
          padding: 5px 20px;
          border-radius: 20px;
          color: white;
          max-width: 400px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-all;
        }
        &:hover {
          .chat__detail__content__message-sender__react-sender {
            display: block;
            display: flex;
            flex-direction: row-reverse;
          }
        }
      }

      &__message__video {
        &__item {
          max-height: 600px;
          max-width: 400px;
          height: auto;
          width: auto;
          border-radius: 15px;
          overflow: hidden;
          margin-bottom: 20px;
        }
      }

      &__message-group {
        position: relative;
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
        align-items: center;
        &__date {
          order: 2;
        }
        &__react {
          order: 4;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 10px;
          display: none;
        }
        &__avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
        }
        &__text {
          background-color: $color-message-receiver;
          padding: 5px 20px;
          border-radius: 20px;
          display: flex;
          justify-content: flex-end;
          max-width: 400px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-all;
        }
        .receiver {
          width: fit-content;
          justify-content: flex-start;
        }
        &__sender {
          display: flex;
          flex-direction: column;
          align-items: end;
        }
        &__image {
          width: 100%;
          height: 50px;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &:hover {
          .chat__detail__content__message-group__react {
            display: flex;
          }
        }

        &__images {
          gap: 10px;
          &__items {
            max-height: 800px;
            max-width: 400px;
            height: auto;
            width: auto;
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 20px;
            img {
              object-fit: contain;
            }
          }
        }
        &__video {
          gap: 10px;
          &__item {
            max-height: 600px;
            max-width: 400px;
            height: auto;
            width: auto;
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 20px;
          }
        }
      }

      .chat__detail__content__message-group__documents__item__receiver {
        background-color: $color-message-receiver;
        padding: 5px 20px;
        border-radius: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 400px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
      }

      &__message-group-sender {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        justify-content: flex-end;
        .chat__detail__content__message-group__avatar {
          display: none;
        }
        .chat__detail__content__message-group__documents__item {
          background-color: $color-message-sender;
          padding: 5px 20px;
          border-radius: 20px;
          color: white;
          max-width: 400px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-all;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        &__react-sender {
          order: -5;
          cursor: pointer;
          display: flex;
          flex-direction: row-reverse;
          gap: 10px;
          display: none;
        }
        &__avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
        }
        &__text {
          background-color: $color-message-receiver;
          padding: 5px 20px;
          border-radius: 20px;
          max-width: 400px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-all;
        }
        .sender {
          @include mobile {
            margin-left: 20px;
          }
          background-color: $color-message-sender;
          padding: 5px 20px;
          border-radius: 20px;
          color: white;
          max-width: 400px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-all;
        }
        &:hover {
          .chat__detail__content__message-group-sender__react-sender {
            display: block;
            display: flex;
            flex-direction: row-reverse;
          }
        }
      }
    }
    &__input {
      position: fixed;
      bottom: 0;
      width: calc(100% - 455px);
      height: fit-content;
      border-radius: 40px;
      border: 2px solid #ddd;
      margin: 20px;
      display: flex;
      flex-direction: column;
      padding: 15px;
      gap: 15px;
      background-color: #fff;
      &__image {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &__bottom {
        display: flex;
        justify-content: space-between;
        &__emoj {
          cursor: pointer;
          width: 5%;
          font-size: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &__file {
          cursor: pointer;
          width: 15%;
          font-size: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
        &__text {
          width: calc(100% - 15% - 5% - 5%);
          input {
            width: 100%;
            height: 40px;
            border: none;
            font-size: 20px;
          }
        }
        @include mobile {
          gap: 10px;
          &__file {
            width: 30% !important;
          }
          &__emoj {
            width: 10% !important;
          }
        }
      }
      @include mobile {
        width: calc(100% - 120px);
        bottom: 50px;
        padding: 10px;
        &__file {
          width: 25% !important;
        }
        &__emoj {
          width: 15% !important;
        }
      }
    }
  }
}
